/*******************************
	 Common style sheet
*******************************/
	* {
		padding:0px; margin:0px;
		font-family:"나눔고딕";
	}
	.header_menu, .section1_d1, .section2, .section3, .footer_menu,
	 section.login, section.join, section.mypage, section.notice, 
	section.board, section.admin {
		width:1000px; margin:auto; 
		border:2px solid blue;
	}
	section.login form[name='loginForm'], section.join form[name='joinform'] , 
	section.mypage > div , section.notice table, section.board table, 
	section.admin > div {
	/* border:1px solid red; */ 
	width:70%;
	margin:auto;
}
	
.title{
	border-left:15px solid #333;
	border-bottom:1px solid #333;
	width:30%;
	font-size:25px;
	padding:5px 0px 10px 20px;
	margin:30px 0px 30px 100px;
	font-style:italic;
}
.btn_style{ /*버튼 공통 스타일*/
	width:130px;
	padding:7px 0;
	background:tomato;
	color:white;
	font-size:10pt;
	border:1px solid white;
	/* outline:1px solid red; */
}

/*******************************
	 Header style sheet
*******************************/
	header{
		background-image:url("http://localhost:9000/mycgv/images/bg_header.gif");
		height:149px;
	}
	.header_menu{/* 
		border:1px solid red; */ 
		width:1000px;
		margin:auto;
	}
	.header_menu > nav > ul{
		width:100%; height:30px;
		padding-left:350px;
		padding-top:10px
		/* border:1px solid blue; */
	}
	.header_menu > nav.nav1 > ul > li {
		float:left;
		list-style-type:none;
	}
	.menu > nav.nav2 > ul > li{
		list-style-type:none;
	}
	.header_menu > nav.nav1 > ul > li > a{
		width:70px;
		/* border:1px solid red; */
		display:block;
		text-decoration:none;
		color:gray;
		font-size:12px;
		font-width:100px;
		text-align:center;
		border-right:1px solid gray;
	}
	.header_menu > nav.nav1 > ul > li:last-child > a{
		border-right:none;
		color:black;
	}
	.header_menu > div {
		clear:both;/* 
		border:2px solid blue; */
		position:relative;
	}
	.header_menu > div > a {/* 
		border:2px solid green; */
		position:absolute;
		left:30px;
		top:15px;
	}
	.header_menu > div > div {/* 
		border:2px solid green; */
		width:350px;
		position:absolute;
		left:380px;
		top:15px;
		
	}
/*******************************
	 Footer style sheet
*******************************/
footer{
	height:500px;
}
.footer_bg{
	text-align:center;
	background:rgb(254,218,152);
	margin-top:100px;
}
.footer_bg > img{
	margin-top:-58px;
}

.footer_menu ul{
	list-style-type:none;
	margin:0px; padding:0px;
	overflow:hidden;
	border-bottom:1px solid lightgray;
	
}
.footer_menu nav > ul {
	border:5px solid yellow;
	display:inline-block;
}
/* .footer_menu .p{
	border:5px solid yellow;
	
} */
.footer_menu ul > li {
	float:left;
}
.footer_menu ul > li:last-child {
	float:right;
}
.footer_menu ul > li > a {
	display:block;
	text-decoration:none;
	padding:30px 20px 30px 2px;
	font-size:10px;
	text-align:center;
	color:#777;
	font-weight:700;
}
.footer_menu ul > li:last-child > a {
	padding:30px 0px 30px 2px;
}

.footer_menu ul > li:nth-child(6) > a {
	color:black;
	text-decoration:underline;
}
.footer_menu ul > li > a:hover{
	text-decoration:underline;
}
.footer_menu > div {
	margin:25px 0px 60px 0px;
}
.footer_menu > div > p {
	font-size:13px;
	color:#777;
	padding:3px 0;
}

/*******************************
	 Index-Content style sheet
*******************************/
	.section1{
		background-image:url("http://localhost:9000/mycgv/images/carousel_bg.png");
	}
	.section1_d1, .section2, .section3{
		text-align:center;/* 
		border:1px solid blue; */
	}
	
	.section2 div:first-child, .section3 div:first-child{
		padding:20px 0px;
		}
		.section3 div:last-child{
		border-top:3px solid gray;
		padding:10px 0px 0px 0px;
		}
		.section2 > img {
			/* border:2px solid red; */
		}
		.section3{
	/* 		border:2px solid green; */
			clear:both;
		}
		.section3 > div:nth-child(2) > img:first-child ,
		 .section3 > div:last-child > img:first-child{/* 
			border:2px solid green; */
			float:left;
		}
		.section3 > div:nth-child(2) > img:last-child ,
		 .section3 > div:last-child > img:last-child{
			/* border:2px solid red; */
			float:right;
		}
		.section3 > div:nth-child(2) > img:nth-child(2) ,
		  .section3 > div:nth-child(2) > img:nth-child(3){
		  /* border:1px solid red; */
		  margin:0px 3px;
		  }
		  .section3 > div:nth-child(2){/* 
		  	border:1px solid blue; */
		  	padding-bottom:20px;
		  }
		  .section3 > div:nth-child(3){
		  	padding-top:25px;
		  }
		  .section3 > div:nth-child(3) img:first-child,
		   .section3 > div:nth-child(3) img:last-child{
		  	 border:7px double black/* 
		  	 outline:3px double black; */
		   }
	
/*******************************
	 Login form style sheet
*******************************/
section.login form ul{
	/* border:1px solid blue; */
	list-style-type:none;
	margin:0px; padding:0px;
	}
	
section.login form ul li{clear : left;}
section.login form ul li > label{
	 /* border:1px solid blue;  */
	display:inline-block;
	width:160px;
	padding:10px 0;
	background:#ddd;
	color:black;
	border-radius:4px;
	font-size:9pt;
	font-weight:700;
	float:left;
	text-align:center;
	}

section.login form ul li > input{
	width:50%;
	padding:8px 10px;
	border-radius:4px;
	border:1px solid #ddd;
	font-size:10px;
	margin:0 0 10px 10px;
}
section.login form ul li:nth-child(3){
	padding:20px 0 0 180px;
}
section.login form ul li:nth-child(3) > button:first-child{
	margin-right:10px;
}
section.login form ul li:last-child a{
	text-decoration:none;
	font-size:10pt;
	font-weight:700;
	color:#555;
}
section.login form ul li:last-child{
	padding-top:20px;
	text-align:right;
}
/* section.login form ul li:last-child > span:first-child{
	margin-left:20px;
} */
section.login form ul li:last-child > span:last-child{
	margin-right:40px;
}

/*******************************
	 join form style sheet
*******************************/
section.join form ul{
	display:inline-block;
	list-style-type:none;
	margin:0px; padding:0px;
}

section.join form ul li{
	clear:left;
}

section.join form ul li > label{
display:inline-block;
	width:150px;
	padding:10px 0;
	background:#ddd;
	color:black;
	border-radius:4px;
	font-size:10pt;
	font-weight:700;
	float:left;
	text-align:center;
	margin: 0 7px 5px 0;
	}
.input1{
	border:1px solid blue;
	padding:8px 20px;
	width:40%;
	border:1px solid #ddd;
	border-radius:4px;
	margin:auto;
}
/* .email{
	width:17%;
	padding:8px 20px;
	border:1px solid #ddd;
	border-radius:4px;
} */
input[name='email1'], input[name='email2']{
	width:17%;
	padding:8px 20px;
	border:1px solid #ddd;
	border-radius:4px;
}
input[name='email2'] +select, select[name='phone1']{
	padding:8px 3px;
	font-size:9pt;
	border:1px solid lightgray;
	border-radius:4px;
	margin-left:5px;
	}
	
input[name='phone2'], input[name='phone3']{
	border:1px solid lightgray;
	padding:8px 3px;
	border-radius:4px;
	width:50px;
	text-align:center;
}
textarea[name='intro']{
	border:1px solid lightgray;
	width:350px; height:100px;
	border-radius:4px;
	padding:8px 15px;
	font-size:12px;
}
input[type='radio'], input[type='radio'] +span,
input[type='checkbox'], input[type='checkbox'] +span {
	/* border:1px solid red; */
	font-size:13px;
	margin-left:5px;
	padding:3px 3px;
	vertical-align:middle;
}
form[name= 'joinForm'] ul li:last-child{
	border:1px solid red;
	text-align:center;
	padding:20px 0;
	}
/****************************************
	mypage style sheet
*************************************/
section.mypage div{
	height:500px;
	text-align:center;
}
section.mypage article {
	border:1px solid red;
	width:200px;
	padding:30px 0px;
	text-align:center;
	font-size:10pt;
	font-weight:700;
	background:tomato;
	color:white;
	display:inline-block;
	cursor:pointer;
}
section.mypage article:first-child{
	background:mediumseagreen;
	margin-right:10px;
}

/****************************************
	notice, board style sheet
*************************************/
section.notice table, section.notice th, section.notice td, 
section.board table, section.board th, section.board td{
	/* border:1px solid pink; */
	border-collapse:collapse;
	text-align:center;
	
}
section.notice th, section.notice td,
section.board th, section.board td{
	padding:6px 0;
}
section.notice tr > td:nth-child(2),
section.board tr > td:nth-child(2){
text-align:left;
text-indent:20px;	
font-size:11px;
}
section.notice tr > td:nth-child(2) > a,
section.board tr > td:nth-child(2) > a{
	text-decoration:none;
}
section.notice tr:first-child{
	background:#ddd;
	color:#333;
	
}
section.notice tr:last-child td,
section.board tr:last-child td{
	border:1px solid white;
	margin-bottom:20px;
}

/**************************
	board list style
*************************/
section.board table.board_list tr:first-child td{
	border:1px solid white;
	border-bottom:1px solid #333;
	text-align:right;
}
section.board table.board_list tr:first-child td button{
	margin:0 20px 10px 0;
	width:70px;
	padding:6px 0;
}
section.board form[name='writeForm'] table button{
	border:1px solid green;
	width:100px;
	margin:40px 5px:
}
